:root {
  --red: rgb(80, 0, 0);
  --green: rgb(0, 80, 40);
  --yellow: rgb(226, 173, 0);
}

* {
  font-family: fantasy;
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 20px 0px;
  display: flex;
  background: var(--red);
  justify-content: center;
}

.nav-title {
  font-weight: bold;
  font-size: 35px;
  color: var(--yellow);
  margin: 0;
}

#books-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: 140px auto 0px auto;
}

.book-card {
  background-color: lightgray;
  border-radius: 10px;
  padding: 30px 20px;
  margin-bottom: 20px;
  text-align: center;
}

.book-name {
  font-size: 35px;
}

.book-author {
  font-size: 28px;
}

.read-button {
  font-size: 22px;
  padding: 10px 30px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition-duration: 0.3s;
  color: white;
}

.not-read-bg {
  background: var(--red);
}

.read-bg {
  background: var(--green);
}

.read-button:hover {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.not-read-bg:hover {
  color: var(--red);
}

.read-bg-hover {
  color: var(--green);
}
